@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes bulldozer-move {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(200%);
    }
}

@keyframes tractor-move {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(-200%);
    }
}

@keyframes shake {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }

    20% {
        transform: translateY(-10px) rotate(-10deg);
    }

    40% {
        transform: translateY(-5px) rotate(10deg);
    }

    60% {
        transform: translateY(-10px) rotate(-10deg);
    }

    80% {
        transform: translateY(-5px) rotate(10deg);
    }

    100% {
        transform: translateY(50px) rotate(90deg);
    }
}

@keyframes smoke {
    0% {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translate(-50px, -50px) rotate(720deg);
    }
}

@keyframes flicker {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 1;
    }
}

@keyframes rise {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

:root {
    --mainblue: #77a0ec;
    --maingreen: #08500e;
    --grey: #121212;
}

html {
    overflow-x: hidden;
}

/* Set up the overall layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(var(--mainblue), var(--maingreen));
    margin-inline: 20px;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
        background: var(--grey);
    }
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    margin-top: 5rem;
}

/* Set up the styles for each section */
section {
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 20rem;
}

.forest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.forest__tree {
    width: 400px;
    height: 400px;
}

.shake {
    animation: shake 3s ease-in-out forwards;
}

.forest__tree:nth-child(even) {
    animation-delay: 0.5s;
    animation-direction: reverse;
    transform: rotate(-90deg);
}

.text__paragraph {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
}

.text {
    font-size: 1.5rem;

}

span {
    font-weight: 600;
    color: red;
}

.text__scroll {
    color: white;
}

img,
picture {
    max-width: 100%;
    display: block;
}

.scrolled {
    opacity: 0;
    transform: translateY(20px);
    animation: scroll 6s forwards;
}

.bulldozer-container {
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    justify-content: start;
}

.bulldozer-container__bulldozer {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    transition-delay: 4s;
    overflow-x: hidden;
}

.bulldozer-container__bulldozer:nth-child(1) {
    left: 0;
}

.bulldozer-container__bulldozer:nth-child(2) {
    left: -250px;
}

.bulldozer-container__bulldozer:nth-child(3) {
    left: -500px;
}

.animate {
    animation: bulldozer-move 6s ease-in-out forwards;
}

.tractor-animate {
    animation: tractor-move 6s ease-in-out 1.5s forwards;
}

.tractor-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    overflow: hidden;
}

.tractor-container__tractor {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 500px;
    overflow: hidden;
}

.forest2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.forest2__tree {
    position: absolute;
    inset: 0;
    width: 500px;
    height: 500px;
    margin: auto;
}

.forest2__tree:nth-last-of-type(1) {
    left: -100px;
}

.forest2__tree:nth-last-of-type(2) {
    left: -100px;
}

.forest2__tree:nth-last-of-type(2) {
    left: -250px;
}

.forest2__tree:nth-last-of-type(3) {
    left: -400px;
}

.forest2__tree:nth-last-of-type(4) {
    left: -550px;
}

.forest2__tree:nth-last-of-type(5) {
    left: 100px;
}

.forest2__tree:nth-last-of-type(6) {
    left: 250px;
}

.forest2__tree:nth-last-of-type(7) {
    left: 400px;
}

.forest2__tree:nth-last-of-type(8) {
    left: 550px;
}

.smoke {
    position: absolute;
    inset: 150px 0 0 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    animation: smoke 4s infinite;
}

.smoke:nth-of-type(1) {
    left: 100px;
    animation-delay: 2s;
}

.smoke:nth-of-type(2) {
    left: 200px;
    animation-delay: 3.2s;
}

.smoke:nth-of-type(3) {
    left: 300px;
    animation-delay: 1.4s;
}

.smoke:nth-of-type(4) {
    left: -100px;
    animation-delay: 4.2s;
}

.smoke:nth-of-type(5) {
    left: -200px;
    animation-delay: 1.8s;
}

.smoke:nth-of-type(6) {
    left: -300px;
    animation-delay: 2.34s;
}

.fire {
    width: 25px;
    height: 25px;
    position: absolute;
    inset: 300px 0 0 0;
    margin: auto;
    background: #FF5733;
    border-radius: 20px;
    animation: flicker 0.1s infinite alternate;
}

.fire::before,
.fire::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background: #FFC300;
    border-radius: 50%;
}

.fire::before {
    top: -30%;
    left: 10%;
    animation: rise 1s infinite;
}

.fire::after {
    top: -40%;
    right: 10%;
    animation: rise 1.5s infinite;
}

.jungle-village {
    position: relative;
    height: auto;
}

.jungle-village__hut {
    position: relative;
    top: 100px;
    left: 100px;
    width: 60%;
    height: auto;
    overflow: hidden;
}

.jungle-village__person {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 40%;
}

.jungle-village__tree {
    position: absolute;
    width: 1000px;
    top: -300px;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.jungle-village__tree:nth-of-type(1) {
    top: -300px;
    left: -50px;
}

.jungle-village__tree:nth-of-type(2) {
    top: -300px;
    left: -250px;

}

.jungle-village__tree:nth-of-type(3) {
    top: -300px;
    left: 250px;
}

.jungle-village__tree:nth-of-type(4) {
    top: -300px;
    left: 400px;
}

.portrait-message {
    display: none;
}

@media (prefers-reduced-motion) {
    .forest__tree {
        animation: none;
    }
}

@media (max-width: 750px) and (orientation: portrait) {
    .portrait-message {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #000;
        color: #fff;
        padding: 10px;
        text-align: center;
        z-index: 9999;
    }
}

/*# sourceMappingURL=index.css.map */